extends layout

block content
  .container
    .wrapper
      if messages
        .alert.alert-info(role='alert')
          p=messages

      form.simple-form(method='POST', action='/login')
        h2.form-signin-heading Please login
        label
          | Username: 
          input.form-control(type='text', required='', name='profile', value=profile)
        br
        label
          | Password: 
          input.form-control(type='password', required='', name='password')
        
        button.btn.btn-lg.btn-primary(type='submit') Login
