<!DOCTYPE html>
<html lang="en">
    <%- include('includes/header') %>
    <body>
        <div class="container">
            <% if (locals.error){ %>
                <div class="alert alert-danger" role="alert">
                    <strong><%= error %></strong>
                </div>
            <%}%>
            <form action="javascript:void(0);">
                <div class="form-group">
                    <label for="username">Server:</label>
                    <div class="btn-group">
                        <button id="server_selection" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">oss72dev</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button id="server_oss72dev" class="dropdown-item" type="button">oss72dev</button>
                            <button id="server_oss73dev" class="dropdown-item" type="button">oss73dev</button>
                            <button id="server_oss74dev" class="dropdown-item" type="button">oss74dev</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control form-inline" id="username" type="text" name="username" placeholder="Enter Username"
                        maxlength="20" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control form-inline" id="password" type="password" name="password" placeholder="Enter Password"
                        maxlength="20" required/>
                </div>
                <button id="signin_btn" class="btn btn-primary" type="submit" name="submit">Sign In</button>
            </form>
        </div>
    </body>
    <script type="text/javascript">
        // hide top nav bar so user have to log in
        document.querySelector('#top_nav').style.visibility = 'hidden';
        // attach events to dropdown
        ['#server_oss72dev', '#server_oss73dev', '#server_oss74dev'].forEach(function(item) {
            document.querySelector(item).onclick = function() {
                document.querySelector('#server_selection').innerHTML = document.querySelector(item).innerHTML;
            };
        });
        // attach event to sign in btn
        document.querySelector('#signin_btn').addEventListener('click', function() {
            let username = document.querySelector('#username').value.toUpperCase();
            let password = document.querySelector('#password').value;
            let server = document.querySelector('#server_selection').innerHTML;
            api.signIn(server, username, password);
        });
    </script>
</html>
