<%- include('includes/header') %>
<div class="container">
    <div id="errorAlert"class="alert alert-danger" role="alert"> </div>
    <h1>Calculate Prime Numbers less than 10,000,000</h1>
    <div id="loadme" class="loader">
    </div>
    <div class="form-group">
        <button id="no-worker" type="button" class="btn btn-success btn-lg calcPrimes">Calculate</button>
    </div>
    <h1 id='time'></h1>
    <p id="dump">
    </p>
</div>
<script src = "/assets/js/calcPrimes.js"></script>

</body>

</html>