//- head.jade
//- This file provides the HTML head part

head
  title NodeJS XMLSERVICE
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="stylesheet", href="/silly_public/stylesheets/style.css")
