//- links.jade
//- This file defines help links this app.


block content
  div.links
    table
      tr
        td
          a(href="/silly_public/images/overview.png") Overview
        td
          a(href="https://github.com/IBM/ibmi-oss-examples") Code (Git)
        td
          a(href="http://youngiprofessionals.com/wiki/index.php/XMLSERVICE/XMLSERVICE") XMLService

