meta(charset='utf-8')
meta(name='viewport', content='width=device-width')
title=title
link(rel='stylesheet', href='css/bootstrap.min.css')
link(rel='stylesheet', href='css/bootstrap-theme.min.css')
link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
script(src='js/jquery-3.2.1.min.js')
script(src='js/bootstrap.min.js')
